h1,
h2 {
    color: blue;
    text-decoration-line: underline;
}
body {
    background-color: aquamarine;
}
input.submit {
    color: chocolate;
}
input.submit:hover {
    background-color: black;
    color: ghostwhite;
}
