h1 {
    color: blue;
    text-decoration-line: underline;
}
h3 {
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: tan;
}
input.submit {
    color: chocolate;
}
input.submit:hover {
    background-color: black;
    color: ghostwhite;
}

.teachers {
    color: aliceblue;
}
